/*h1 {
  font-family: "Lucida Handwriting", cursive;
  text-align: left;
  font-size: 40px;
  padding: 5px 0px 5px 0px;  
}*/

/*body {background-color: azure;
}
*/

/*headshot*/
.img1 {
  display:  block;
  margin-left: auto;
  margin-right: auto;
  opacity:  0.2;

}

.phone {
  pointer-events: none;
body {
  /*background-color: transparent;*/
  margin: 0;
  font-family: "Lucida Handwriting", Helvetica, sans-serif;
}

/*navbar*/
.topnav {
  overflow: hidden;
  background-color: #222;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2F4F4F;
  color: white;
}
.img2 {
  float: left;
  padding:  5px 5px;
}
.name1 {
  position: absolute;
  left: 100px;
  top: 150px;
  font-size: 40px;
  padding: 5px 10px 5px 10px;
}

.name2 {
  position: absolute;
  left: 100px;
  top: 300px;
  font-size: 40px;
  padding: 5px 10px 5px 10px;
}

.name3 {
  position: absolute;
  left: 100px;
  top: 450px;
  font-size: 40px;
  padding: 5px 10px 5px 10px;
}
.img3 {
  float: left;
  padding:  5px 5px;
}

.book {
  position: absolute;
  left: 100px;
  top: 150px;
  font-size: 30px;
  }
